*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 50px;
    width: 100%;
    background-color: rgb(51, 126, 211);
    padding: 30px;
    color: white;
    font-size: large;
    word-spacing: 5px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}